.inputBlock {
  margin-bottom: 32px;
  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    display: inline-block;

    margin-bottom: 8px;

    color: #666666;
  }

  &__input {
    font-size: 16px;
    line-height: 24px;

    width: 100%;
    height: 56px;

    padding: 16px 48px 16px 16px;

    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    color: #333333;
    outline: none;

    &:focus,
    &:active {
      border: 2px solid #7a5cfa;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }

    &-error {
      border: 2px solid #eb5757 !important;
    }
  }

  &__helper {
    font-size: 12px;
    line-height: 18px;

    margin-top: 8px;

    color: #666666;

    &-error {
      color: #eb5757;
    }
  }

  &__errorImg {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}
